.readability_filter {padding:10px; margin:10px; margin-left:60px; margin-right:60px;  border:1px solid grey;}
.readability_filter img {max-width: 80px;}
.readability_filter .favicon {max-height: 16px;}
.webpageContent{
background-color:red;
}
